<div class="contentblock active">
	<h2>Movies overview</h2>
	<div class="controls">
		<input type="text" ng-model="search.title" placeholder="Zoek film" />
		<select id="sortBy" data-ng-model="descending">
			<option value="true">Newest First</option>
			<option value="false">Olderst First</option>
		</select>
	</div>
	<div class="moviesWrapper">
		<section class="flex-container">
			<article ng-repeat="movie in movies | filter: search | orderBy:'release_date':descending" class="block flex-item">
				<h2>{{movie.title}}</h2>
				<img ng-src="{{movie.cover}}" alt="{{movie.title}}">
				<p class="plot">{{movie.simple_plot}}</p>
				<p>Waardering: {{movie.reviewsAvg || 'Geen beoordeling'}}</p>
				<p>{{movie.release_date | date: 'dd/MM/yy'}}</p>
				<p ng-repeat="genre in movie.genres"><a ui-sref="moviesGenre({genre: genre})">{{genre}}</a></p>
				<a href="#/movies/{{movie.id}}" class="button">Meer info</a>
				<!-- <p ng-repeat="genre in movie.genres"><a href="#/movies/genres/{{genre}}">{{genre}}</a></p> -->
			</article>
		</section>
		<a data-ng-click="viewMore(-1)" data-ng-hide="viewLimit >= movies.length" class="nav-button">View less</a>
		<a data-ng-click="viewMore(2)" data-ng-hide="viewLimit >= movies.length" class="nav-button right">View more</a>
	</div>
</div>
