<div ng-controller="movieCtrl">
<div class="controls">
	<input type="text" data-ng-model="query" placeholder="Zoek film" />
	<label for="sortBy">Sort by</label>
	<select id="sortBy" data-ng-model="descending">
		<option value="true">Newest First</option>
		<option value="false">Olderst First</option>
	</select>
</div>

<div>
	<ul>
		<li ng-repeat="movie in movies | filter: query | orderBy:'release_date':descending | limitTo: viewLimit">

			<h2>{{movie.title}}</h2>
			<p>{{movie.release_date | date: 'dd/MM'}}</p>
			<p ng-repeat="genre in movie.genres">{{genre}}</p>
			<a href="#/movies/{{movie.id}}">Detail pagina</a>

	</ul>
</div>
<button data-ng-click="viewMore(1)" data-ng-hide="viewLimit >= movies.length">View more</button>

<button data-ng-click="viewMore(-1)" data-ng-hide="viewLimit >= movies.length">View less</button>
</div>