<div class="contentblock active" ng-controller="MoviesController">
	<h2>Movies overview</h2>
	<div class="controls">
		<input type="text" class="searchbar" ng-model="search.title" placeholder="Zoek film" />
		<div class="sortByDate">
			<select id="sortBy" data-ng-model="descending">
				<option value="true">Nieuwste eerst</option>
				<option value="false">Oudste eerst</option>
			</select>
		</div>
		<div class="menu">
			<input class="dropdowninput" type="checkbox" id="dropdownbox1"/>
			<div class="dropdownbox">
			    <label for="dropdownbox1">Selecteer genre</label>
			    <nav>
				    <ul class="dropdown">
				        <li ng-repeat="genre in genress"><a ui-sref="moviesGenre({genre: genre})">{{genre}}</a></li>
				    </ul>
			    </nav>
			</div>
		</div>
	</div>
	<div class="moviesWrapper">
		<section class="flex-container">
			<article ng-repeat="movie in movies | filter: search | orderBy:'release_date':descending | limitTo: viewLimit" class="block flex-item">
				<h2>{{movie.title}}</h2>
				<img ng-src="{{movie.cover}}" alt="{{movie.title}}">
				<p class="plot">{{movie.simple_plot}}</p>
				<p>Waardering: {{movie.reviewsAvg || 'Geen beoordeling'}}</p>
				<p>{{movie.release_date | date: 'dd/MM/yy'}}</p>
				<p ng-repeat="genre in movie.genres"><a ui-sref="moviesGenre({genre: genre})">{{genre}}</a></p>
				<a href="#/movies/{{movie.id}}" class="button">Meer info</a>
				<!-- <p ng-repeat="genre in movie.genres"><a href="#/movies/genres/{{genre}}">{{genre}}</a></p> -->
			</article>
		</section>
		<a data-ng-click="viewMore(-1)" data-ng-hide="viewLimit >= movies.length" class="nav-button">Toon minder</a>
		<a data-ng-click="viewMore(2)" data-ng-hide="viewLimit >= movies.length" class="nav-button right">Toon meer</a>
	</div>
</div>
