<div class="wrapper">

	<div ng-show="loader.loading">
		<div class="bubblingG">
			<span id="bubblingG_1">
			</span>
			<span id="bubblingG_2">
			</span>
			<span id="bubblingG_3">
			</span>
		</div>
	</div>
	<div class="movieWrapper">
		<div ng-show="!showActions" ng-swipe-left="showActions = true" class="slideLeft">
			<div class="at-view-slide-in-left at-view-slide-out-left">

		<h1>{{movie.title}}</h1>
		<img ng-src="{{movie.cover}}" alt="{{movie.title}}">
		<p>{{movie.plot}}</p>
		</div>

		</div>

		<div ng-show="showActions" ng-swipe-right="showActions = false" class="slideRight">
			<div class="slide">
			<h2>Actors:</h2>
			<ul ng-repeat="actor in movie.actors">
				<li >{{actor.actor_name}}</li>
				<li><img src="{{actor.url_photo}}" alt=""></li>
			</ul>
			</div>
		</div>
	</div>
</div>